html,
body {
  margin: 0;
  font-size: 16px;
  background-color: dimgray;
}

p {
  font-size: 1.1rem;
}

li {
  margin: 1.5rem 0;
  list-style-type: none;
}

.navbar {
  background-color: rgb(33, 33, 33);
}

.navbar-brand {
  color: #F4D35E;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #F4D35E;
  font-weight: bold;
  text-decoration: underline;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  margin: 4rem auto;
  width: 72%;
  /* min-height: 80vh;
  max-height: 80vh; */
  min-height: 35rem;
}

.left {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 18%;
  padding: 4rem 0;
  text-align: center;
  color: whitesmoke;
  background-color: rgb(33, 33, 33);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right {
  width: 75%;
  display: flex;
  flex-flow: column;
  align-content: stretch;
  padding: 4rem 3rem 2rem 3rem;
  border-left-width: 0;
  background-color: #363732;
  color: whitesmoke;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ans-btns {
  width: 100%;
  padding: 1.2rem .5rem;
  text-align: left;
  height: 5rem;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.btn {
  color: whitesmoke;
  border-color: #EE964B;
  padding: .8rem 1rem;
  border-radius: 10px;
}

.btn-move {
  margin-top: 2rem;
}

.btn-outline-dark:disabled {
  color: grey;
}

.btn:hover {
  border-color: #28AFB0;
  background-color: #363732;
}

.ans-btns:focus {
  border-color: #28AFB0;
}

/* Media queries  */
@media (max-width:992px) {

  .main-container {
    width: 100%;
    height: auto;
  }

  .left {
    flex-flow: row;
    width: 100%;
    padding: 1rem;
  }

  .left>.top {
    width: 30%;
    align-self: center;
  }

  .left>.bottom {
    width: 30%;
    align-self: center;
  }

  .right {
    width: 100%;
  }

  .right>p {
    text-align: center;
  }
}

@media (max-width:600px) {
  .right {
    padding: 1.5rem;
  }
}