html,
body {
  margin: 0;
  font-size: 16px;
  background-color: dimgray;

}

p {
  font-size: 1.1rem;
}

.navbar {
background-color: #363732;
}

.navbar-brand {
  color: #F4D35E;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #F4D35E;
  font-weight: bold;
  text-decoration: underline;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  margin: 4rem auto;
  width: 72%;
}

.left {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 18%;
  padding: 4rem 0;
  text-align: center;
  border: 1px solid #000;
  color: whitesmoke;
  background-color: #363732;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right {
  width: 75%;
  padding: 4rem 3rem 2rem 3rem;
  border: 1px solid #000;
  border-left-width: 0;
  background-color: #363732;
  color: whitesmoke;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ans-btns {
  width: 100%;
  padding: 1.2rem .5rem;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.btn {
  color: whitesmoke;
  border-color: #EE964B;
  border-radius: 10px;
}

.btn-move {
  margin-top: 2rem;
}

.btn:hover {
 background-color: #363732;
  border-color: #28AFB0;
  border-style: ;
  
}

/* Media queries  */
@media (max-width:992px) {

  .main-container {
    width: 100%;
    height: auto;
  }

  .left {
    flex-flow: row;
    width: 100%;
    padding: 1rem;
  }

  .left>.top {
    width: 30%;
    align-self: center;
  }

  .left>.bottom {
    width: 30%;
    align-self: center;
  }

  .right {
    width: 100%;
  }

  .right>p {
    text-align: center;
  }
}
@media (max-width:600px) {
  .right {
    padding: 1.5rem;
  }
}